.bg-herndon-law {
    background-color: #083360;
}

.text-herndon-law {
    color: #083360;
}

@media (min-width: 1400px) {
    .xxl-w-50 {
        width: 50% !important;
    }
}

.btn.bg-herndon-law {
    border-color: #083360;
}

.btn.bg-herndon-law:hover {
    background-color: #0d4b8c;
}

.btn.bg-herndon-law:active {
    background-color: #0d4b8c !important;
}

.start-auto {
    left: auto !important;
}

.dropdown-item-herndon-law:active {
    background-color: #083360
}

.bg-herndon-law.list-group-item.active {
    background-color: #083360;
    border-color: #083360;
}

button.outline-herndon-law {
    color: #083360;
    border-color: #083360;
}

button.outline-herndon-law:hover {
    background-color: #083360;
    border-color: #083360;
}

button.outline-herndon-law:active {
    background-color: #083360 !important;
    border-color: #083360 !important; 
}

button.outline-herndon-law:disabled {
    color: rgb(8, 51, 96, 0.5);
    border-color: rgb(8, 51, 96, 0.5);
}


.rounded-50 {
    border-radius: 50%;
}