.bg-herndon-law {
    background-color: #083360;
}

.text-herndon-law {
    color: #083360;
}

@media (min-width: 1400px) {
    .xxl-w-50{
        width: 50% !important;
    }
}

html, body {
    margin: 0;
    padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

.btn.bg-herndon-law {
    border-color: #083360;
}

.btn.bg-herndon-law:hover {
    background-color: #0d4b8c;
}